@import "../common/common-color";
@import "../common/common-style";

.search-container {
  @include border-gray;
}

.search-item{
  border: 1px solid var(--gray);
  display: flex;

  > select {
    &:hover{
      cursor: pointer;
    }
  }
}