html {
  --purple50: #663399;
  --gray0: #f8f8f8;
  --gray30: #dddee4;
  --gray100: #333236;
  --main-color: #4B33E3;
  --main-color20: rgba(75, 51, 227, 0.18);
  --main-color30: rgba(75, 51, 227, 0.3);
  --main-color90: rgba(75, 51, 227, 0.9);
  --sub-color: #EBE9FC;
  --gray: #d7d7d7;
  --size: 2.4rem;
}